p::before {
    content: "фывапролджэ"; /*добавляет текст перед абзацем*/
    color: red;/*меняет его цвет на красный*/
}

h1::after {
    content: "asdfghjkl;'";/*добавляет текст после заголовков*/
    color: blue;/* меняет его цвет на синий*/
}

h2::after {
    content: "фывапролджэ";/*добавляет текст после заголовков*/
    color: green;/* меняет его цвет на зеленый*/
}

div::before {
    content: "зеленый";
    color:green;
}

div::after {
    content: "красный";
    color:red;
}