p{
    color:blue;
    font-size:16px;
}
#header{
background-color:red;
text-align:center;
}
.container{
    padding:20px;
    border:1px solid black;
}
.title{
    font-size:24px;
    text-align:center;
}
.highlight{
    color:red;
    font-weight:bold;
}
div{
    font-size:20px;
    color:aquamarine;
}
#style{
    font-size:16px;
    color:cornflowerblue;
}
.style1{
    font-size:32px;
    color:red;
}
