 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 .caps-block {
     display: flex;
     flex-wrap: wrap;
     gap: 48px;
     justify-content: left;
     width: 425px;
     height: 20px;
     margin-left: 32px;
     margin-right: 685px;
 }

 .cap-card {
     width: 43px;
     height: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #242424;
 }

 .cap-card1 {
     weight: 500px;
     width: 43px;
     height: 20px;
     color: #5856D6;
     size: 15px;
 }

 .header1 {
     display: flex;
     align-items: center;
     width: 1440px;
     height: 80px;
 }

 .Wood {
     width: 40px;
     height: 40px;
     margin-left: 48px;
 }

 .buttons-block {
     display: flex;
     gap: 8px;
     justify-content: left;
     width: 162px;
     height: 40px;
 }

 .button1 {
     width: 40px;
     height: 40px;
     border-radius: 8px;
     background-color: #F0F0F0;
 }

 .button1 img {
     width: 20px;
     height: 20px;
     margin: 10px;
 }

 .button2 {
     width: 40px;
     height: 40px;
     border-radius: 8px;
     background-color: #F0F0F0;
 }

 .button2 img {
     width: 20px;
     height: 20px;
     margin: 10px;
 }

 .button3 {
     width: 66px;
     height: 40px;
     border-radius: 8px;
     background-color: #5C53E9;
     line-height: 40px;
     text-align: center;
     color: white;
 }

 .header2 {
     display: flex;
     align-items: center;
     width: 1440px;
     height: 65px;
 }

 .Frame2 {
     margin-right: 120px;
     width: 177px;
     height: 41px;
     margin-left: 40px;
 }

 .searchbox {
     width: 352px;
     height: 41px;
     display: flex;
     align-items: center;
     border: 1px solid #DFDFDF;
     border-radius: 8px;
     color: #707070;
 }

 .search {
     width: 16px;
     height: 16px;
     margin-right: 10px;
     margin-left: 12px;
 }

 .cap-cards2 {
     margin-left: 210px;
     display: flex;
     align-items: center;
     width: 501px;
     height: 41px;
     gap: 40px;
 }

 .card1 {
     width: 60px;
     height: 17px;
     color: #5C53E9;
 }

 .card2 {
     width: 121px;
     height: 41px;
     background-color: #000000;
     text-align: center;
     border-radius: 8px;
     color: #F0F0F0;
     line-height: 41px;
 }

 .card {
     font-weight: 400;
     font-size: 14px;
 }

 .header3 {
     display: flex;
     width: 1440px;
     height: 80px;
     justify-content: space-between;
     align-items: center;
 }

 .Left {
     width: 113.7px;
     height: 30px;
     margin-left: 36px;
 }

 .cap-cards3 {
     display: flex;
     width: 405px;
     height: 19px;
     gap: 40px;
 }

 .cards {}

 .header4 {
     display: flex;
     width: 1440px;
     height: 80px;
     justify-content: space-between;
     align-items: center;
     background-color: #111928;
     border-radius: 10px;
     justify-content: space-between;
 }

 .logo2 {
    margin-left:36px;
    width:113.7px;
    height:30px;
    margin-right: 849.3px;
 }

 .cap-cards4 {
    display:flex;
    width: 405px;
    height:19px;
    color: #FFFFFF;
    gap: 40px;
    margin-right: 30.5px;
 }

.header5 {
    display:flex;
    width:1440px;
    height:80px;
    background-color: #111928;
    border-radius: 10px;
}

.logo {
    width:113.7px;
    height:30px;
    margin-left:36px;
    margin-right:50px;
    margin-top: 25px;
}
 .cap-cards5 {
    display:flex;
    width: 405px;
    height:19px;
    color: #FFFFFF;
    gap: 40px;
    margin-right: 30.5px;
    margin-left:350px;
    margin-top: 30.5px;
 }

 .search3{
    display:flex;
    width:62px;
    height:19px;
    color:#D6D8DE;
    margin-left: 20px;
 }

 .Slogo{
    width:16px;
    height:16px;
    margin-right: 15px;
 }

.borderS {
    display:flex;
    align-items:center;
    border:1px solid #D6D8DE;
    border-radius: 10px;
    width:500px;
    height:44px;
    margin-top:18px;
    justify-content: space-between;
}