.small {
    display: flex;
    width: 350px;
    height: 730px;
    flex-direction: column;
    background-color: #E1EDE6;
}

.image2 {
    margin-top: 25px;
    margin-left: 25px;
    width:310px;
    height:422px;
}

.author {
    font-weight: 500;
    font-size: 16px;
    color: #86928B;
    margin-top: 15px;
    margin-left: 20px;
    width: 133px;
    height: 21px;
}

.name {
    width: 310px;
    height: 35px;
    font-size: 30px;
    color: #2C2D35;
    font-weight: 500;
    margin-top: 10px;
    margin-left: 20px;
}

.items {
    width: 250px;
    height: 19px;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 16px;
    color: #2C2D35;
}

.price {
    width: 103px;
    height: 23px;
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 20px;
    color: #598D66;
}

.butt2 {
    width: 310px;
    height: 65px;
    color: #598D66;
    border: 1px solid #598D66;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: transparent;
}

.body{
    display:grid;
    grid-template-columns: 350px 350px 350px;
    grid-gap:30px 30px;
    margin-left:200px;
}