.container {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    gap: 20px;
    width:fit-content;
    margin:auto;
}

.food {
    width: 380px;
    height: 582px;
    display: flex;
    flex-direction: column;
}

.text {
    width: 380px;
    height: 337px;
    display: flex;
    flex-direction: column;
    border: 1px solid #F2F6FA;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.name2 {
    width: 247px;
    height: 35px;
    font-weight: 700px;
    font-size: 24px;
    color: #2E363E;
    margin-left: 44px;
    margin-top: 50px;
}

.content {
    width: 240px;
    height: 48px;
    font-weight: 400px;
    font-size: 16px;
    color: #2E363E;
    margin-top: 12px;
    margin-left: 44px;
}

.price2 {
    width: 108px;
    height: 36px;
    font-weight: 500px;
    font-size: 24px;
    color: #434B53;
    margin-top: 24px;
    margin-left: 44px;
}

.butt3 {
    width: 163px;
    height: 68px;
    background-color: #FED84C;
    border-radius: 8px;
    margin-top: 14px;
    margin-left: 44px;
    border: none;
}